body {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	max-height: 100vh;
	display: grid;
	grid-template-columns: 1fr 6fr 1fr;
	grid-template-rows: 30px 150px 5fr;
	background-color: hsl(0, 0%, 16%);
	color: #616468;
	margin: 0;
}

header {
	grid-column: 2;
	color: white;
}

header > h1 {
	font-family: 'Righteous', cursive;
	font-size: 3em;
	margin: 15px 0 15px 0;
}

h2 {
	margin: 0;
}

/* ////////////// NAV BAR ///////////// */

.navBar {
	grid-column: 1 / span 3;
	display: flex;
	justify-content: space-between;
}

#openHowToPlay {
	background-color: #282828;
	margin-top: 20px;
	margin-left: 70px;
	color: #616468;
	cursor: pointer;
}

#openHowToPlay:hover {
	border-radius: 0;
	color: white;
}

i {
	color: white;
	margin-right: 70px;
	margin-top: 20px;
	font-size: 1.5em;
	cursor: pointer;
}

.fa-volume-off {
	color: #616468;
}

/* ////////////// GAME BOARD //////////// */

.boards {
	grid-column: 2;
	display: flex;
	justify-content: center;
	/* padding-top: 30px;
	padding-bottom: 30px; */
}

.gameboard {
	/* grid-column: 2; */
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	height: 70vmin;
	width: 70vmin;
	/* margin: auto; */
}

.box {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	border: 4px solid;
	margin: 10px;
	border-radius: 20px;
}

.box:nth-of-type(1) {
	background-color: rgb(255, 0, 0, 0.1);
}

.box:nth-of-type(2) {
	background-color: rgb(0, 0, 255, 0.1);
}

.box:nth-of-type(3) {
	background-color: rgb(0, 255, 0, 0.1);
}

.box:nth-of-type(4) {
	background-color: rgb(255, 255, 0, 0.15);
}

/* ////////////// SCOREBOARD ///////////// */

.scoreboard {
	margin: 15px;
	background-color: #1e1e1e;
	border-radius: 20px;
	/* grid-column: 3; */
	min-width: 280px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.highScore,
.score {
	font-size: 3.5em;
	color: white;
	margin: 0;
}

.scoreboard > h2 {
	padding: 0px 30px 20px 30px;
	border-bottom: 3px solid #616468;
}

/* ////////////// BUTTONS ///////////// */

button {
	width: 120px;
	height: 50px;
	border: none;
	/* background-color: black; */
	/* color: white; */
	outline: none;
	border-radius: 3px;
	cursor: pointer;
}

.startBtn {
	border: 3px solid #616468;
	background-color: #282828;
	color: white;
}

.resetBtn {
	border: 3px solid #616468;
	background-color: #1e1e1e;
	color: #616468;
}
.resetBtn:hover {
	color: white;
}

/* ////////////// HOW TO PAGE ///////////// */

#howToPage {
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
	display: none;
}

#howTo-textbox {
	background-color: white;
	height: 350px;
	width: 550px;
	border-radius: 2px;
	margin: 150px auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	padding: 2%;
	line-height: 120%;
	font-family: arial;
}

#howToFooter {
	text-align: right;
}

#howTo-textbox > h1 {
	color: #4caf50;
	padding-bottom: 25px;
	font-size: 2em;
	font-family: 'Righteous', cursive;
}

.sounds {
	display: none;
}

@media (max-width: 850px) {
	body {
		display: grid;
		grid-template-columns: 1px 1fr 1px;
		height: 1000px;
	}

	.boards {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 10;
		margin: 0;
	}

	.scoreboard {
		margin: 15px;
		background-color: #1e1e1e;
		border-radius: 20px;
		/* grid-column: 3; */
		height: 450px;
		min-width: 280px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
	}

	.box {
		border: 2.5px solid;
		margin: 7px;
		border-radius: 20px;
	}

	#howTo-textbox {
		height: 400px;
		width: 400px;
		margin: 0 auto;
	}

	header > h1 {
		font-family: 'Righteous', cursive;
		font-size: 2em;
	}
}
