.gameOverAnimation {
	animation: shake 0.5s;
	animation-iteration-count: 2s;
}

@keyframes shake {
	0% {
		transform: translate(1px, 1px) rotate(0deg);
	}
	10% {
		transform: translate(-1px, -2px) rotate(-1deg);
	}
	20% {
		transform: translate(-3px, 0px) rotate(1deg);
	}
	30% {
		transform: translate(3px, 2px) rotate(0deg);
	}
	40% {
		transform: translate(1px, -1px) rotate(1deg);
	}
	50% {
		transform: translate(-1px, 2px) rotate(-1deg);
	}
	60% {
		transform: translate(-3px, 1px) rotate(0deg);
	}
	70% {
		transform: translate(3px, 1px) rotate(-1deg);
	}
	80% {
		transform: translate(-1px, -1px) rotate(1deg);
	}
	90% {
		transform: translate(1px, 2px) rotate(0deg);
	}
	100% {
		transform: translate(1px, -2px) rotate(-1deg);
	}
}

/* Created and altered animation from an example code found on w3schools.com
https://www.w3schools.com/howto/howto_css_shake_image.asp */

body {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	max-height: 100vh;
	display: grid;
	grid-template-columns: 1fr 6fr 1fr;
	grid-template-rows: 30px 1.75fr 5fr;
	background-color: hsl(0, 0%, 16%);
	color: #616468;
	margin: 0;
}

header {
	grid-column: 2;
	color: white;
}

#title {
	font-family: 'Righteous', cursive;
	font-size: 3em;
	margin: 15px 0 15px 0;
}

#message {
	margin: 0;
	font-size: 2.5em;
}

/* ////////////// NAV BAR ///////////// */

.navBar {
	grid-column: 1 / span 3;
	display: flex;
	justify-content: space-between;
}

#openHowToPlay {
	background-color: #282828;
	margin-top: 20px;
	margin-left: 70px;
	color: #616468;
	cursor: pointer;
	font-size: 1em;
}

#openHowToPlay:hover {
	border-radius: 0;
	color: white;
}

i {
	color: white;
	margin-right: 70px;
	margin-top: 20px;
	font-size: 1.2em;
	cursor: pointer;
}

.fa-volume-off {
	color: #616468;
}

/* ////////////// GAME BOARD //////////// */

.boards {
	grid-column: 2;
	display: flex;
	justify-content: center;
}

.gameboard {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	/* height: 70vmin;
	width: 70vmin; */
	height: 70vh;
	width: 70vh;
}

.box {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	border: 4px solid;
	margin: 10px;
	border-radius: 20px;
}

.box:nth-of-type(1) {
	background-color: rgb(255, 0, 0, 0.1);
}

.box:nth-of-type(2) {
	background-color: rgb(0, 0, 255, 0.1);
}

.box:nth-of-type(3) {
	background-color: rgb(0, 255, 0, 0.1);
}

.box:nth-of-type(4) {
	background-color: rgb(255, 255, 0, 0.15);
}

/* ////////////// SCOREBOARD ///////////// */

.scoreboard {
	margin: 15px;
	background-color: #1e1e1e;
	border-radius: 20px;
	min-width: 280px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.highScore,
.score {
	font-size: 3.5em;
	color: white;
	margin: 0;
}

.scoreboard > h2 {
	font-size: 2em;
	margin-top: 15px;
	padding: 0px 25px 15px 25px;
	border-bottom: 3px solid #616468;
}

.scoreTitles {
	margin-top: 0;
	margin-bottom: 0;
}

/* ////////////// BUTTONS ///////////// */

button {
	width: 168px;
	height: 57px;
	border: none;
	outline: none;
	border-radius: 3px;
	cursor: pointer;
	font-size: 1em;
}

#close {
	margin-top: 15px;
	background-color: #4caf50;
	color: white;
}

.startBtn {
	color: white;
	background-color: #4caf50;
	border: #4caf50;
}

.resetBtn {
	border: 3px solid #616468;
	background-color: #1e1e1e;
	color: #616468;
	margin-bottom: 15px;
}
.resetBtn:hover {
	color: white;
}

.resetActive {
	border: 3px solid #4caf50;
	background-color: #1e1e1e;
	color: white;
}

/* ////////////// HOW TO PAGE ///////////// */

#howToPage {
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
	display: none;
}

#howTo-textbox {
	background-color: white;
	height: 350px;
	width: 550px;
	border-radius: 2px;
	margin: 150px auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	padding: 2%;
	line-height: 120%;
}

#howToFooter {
	text-align: right;
}

#howTo-textbox > h1 {
	color: #4caf50;
	padding-bottom: 25px;
	font-size: 2em;
	font-family: 'Righteous', cursive;
}

.sounds {
	display: none;
}

/* ////////////// MOBILE ADJUSTMENTS ///////////// */

@media (max-width: 850px) {
	body {
		display: grid;
		grid-template-columns: 1px 1fr 1px;
		height: 1500px;
		margin: 0;
	}

	.boards {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 10;
		margin: 0;
	}

	.scoreboard {
		margin: 15px;
		background-color: #1e1e1e;
		border-radius: 20px;
		height: 450px;
		min-width: 280px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
	}

	.box {
		border: 2.5px solid;
		margin: 7px;
		border-radius: 20px;
	}

	#howTo-textbox {
		height: 400px;
		width: 400px;
		margin: 0 auto;
	}

	#title {
		font-family: 'Righteous', cursive;
		font-size: 2em;
		margin-top: 30px;
		margin-bottom: 15px;
	}

	#message {
		font-size: 1.5em;
	}
}
